<a href="https://colab.research.google.com/github/bcdanl/299-code/blob/main/danl_299_script_2025_0915.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [1, 3, 5]
position = 0

while position < len(numbers):
    number = numbers[position]
    if number > 4:  # Condition changed to checking if the number is greater than 4
        print('Found a number greater than 4:', number)
        break
    position += 1
else:  # break not called
    print('No number greater than 4 found')

Found a number greater than 4: 5

In [2]:
number

5

In [3]:
numbers = [1, 3]
position = 0

while position < len(numbers):
    number = numbers[position]
    if number > 4:  # Condition changed to checking if the number is greater than 4
        print('Found a number greater than 4:', number)
        break
    position += 1
else:  # break not called
    print('No number greater than 4 found')

No number greater than 4 found

In [4]:
word = 'thud'
offset = 0
while offset < len(word):
    print(word[offset])
    offset += 1

t
h
u
d

In [6]:
word = 'thud'
word[0]

't'

In [7]:
word = 'thud'
word[1]

'h'

In [8]:
word = 'thud'
word[2]

'u'

In [9]:
word = 'thud'
word[3]

'd'

In [5]:
offset

4

In [10]:
word = 'thud'
offset = 0
while offset < len(word):
    print(word[offset])
    offset += 1

t
h
u
d

In [11]:
word = 'thud'
for letter in word:
    print(letter)

t
h
u
d

In [12]:
word = 'thud'
for letter in word:
    if letter == 'u':
        break
    print(letter)

t
h

In [13]:
word = 'thud'
for i in word:
    if i == 'u':
        break
    print(i)

t
h

In [14]:
word = 'thud'
for x in word:
    if x == 'u':
        break
    print(x)

t
h

In [15]:
word = 'thud'
for item in word:
    if item == 'u':
        break
    print(item)

t
h

In [ ]:
# for SOME_NAME in ITERABLE_OBJECT

# ITERABLE_OBJECT: string, list, dict

In [16]:
lst_word = ['t', 'h', 'u', 'd']
for x in lst_word:
    if x == 'u':
        break
    print(x)

t
h

In [18]:
lst_animals = ['cat', 'dog', 'lion', 'tiger']
lst_insects = ['butterfly', 'roach', 'ants', 'beatle']

for animal in lst_animals:
    for insect in lst_insects:
      print(animal, insect)

# for cat
# for insect in lst_insects:
  #    print(animal, insect)


# for dog
# for insect in lst_insects:
  #    print(animal, insect)

# for lion
# for insect in lst_insects:
  #    print(animal, insect)

cat butterfly
cat roach
cat ants
cat beatle
dog butterfly
dog roach
dog ants
dog beatle
lion butterfly
lion roach
lion ants
lion beatle
tiger butterfly
tiger roach
tiger ants
tiger beatle

In [ ]:
x + 200

In [ ]:
# lst_x = [1, 2, 3, 4, 5, ....... , 1_000_000]

In [ ]:
# 1 + 200
# 2 + 200
# 3 + 200
# 4 + 200
# ...
# 1_000_000 + 200

In [ ]:

for x in range(1,1_000_001):
  x + 200

In [21]:
word = 'thud'
for letter in word:
    if letter == 'u':
        break
    print(letter)

t
h

In [20]:
word = 'thud'
for letter in word:
    if letter == 'u':
        continue
    print(letter)

t
h
d

In [22]:
for num in [0, 1, 2, 3, 4, 5]:

    if num == 2:
        continue   # skip printing 2

    if num == 3:
        pass       # do nothing, move on

    if num == 4:
        break      # exit the loop

    print(num)

0
1
3

In [23]:
for x in range(0, 3):
    print(x)

0
1
2

In [24]:
list( range(0, 3) )

[0, 1, 2]

In [25]:
list( range(3) )

[0, 1, 2]

In [26]:
list( range(0, 10, 1) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list( range(0, 10, 2) )

[0, 2, 4, 6, 8]

In [28]:
list( range(1, 10, 2) )

[1, 3, 5, 7, 9]

In [29]:
word = 'thud'
for letter in word:
    if letter == 'x':
        print("Eek! An 'x'!")
        break
    print(letter)
else:
    print("No 'x' in there.")

t
h
u
d
No 'x' in there.

In [30]:
word = 'thxud'
for letter in word:
    if letter == 'x':
        print("Eek! An 'x'!")
        break
    print(letter)
else:
    print("No 'x' in there.")

t
h
Eek! An 'x'!

In [31]:
squares = [ x**2 for x in range(5) ]
squares

[0, 1, 4, 9, 16]

In [32]:
div = [ x/2 for x in range(5) ]
div

[0.0, 0.5, 1.0, 1.5, 2.0]

In [35]:
numbers = [1, 2, 3, 4, 5, 6]
evens = [item for item in numbers if item != 2]
evens

[1, 3, 4, 5, 6]

In [36]:
numbers = [1, 2, 3, 4, 5, 6]
evens_times_two = [item * 2 for item in numbers if item != 2]
evens_times_two

[2, 6, 8, 10, 12]

In [37]:
squares_dict = {x: x**2 for x in range(5)}
squares_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [38]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [41]:
filtered_dict = { k : v for k, v in my_dict.items()  }

In [42]:
filtered_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
filtered_dict = { k : v for k, v in my_dict.items() if v != 2 }

filtered_dict

{'a': 1, 'c': 3, 'd': 4}

In [44]:
filtered_dict_new = { k : v for k, v in my_dict.items() if k != 'c' }

filtered_dict_new

{'a': 1, 'b': 2, 'd': 4}

In [45]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = {v: k for k, v in original_dict.items()}

In [46]:
swapped_dict

{1: 'a', 2: 'b', 3: 'c'}